n8n_workflow/lead-to-support-automation.json.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "26d53ef7-1481-4a63-b33c-30cef72c6aa3",
      "name": "Webhook: Receive Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1232,
        224
      ],
      "webhookId": "lead-intake-webhook"
    },
    {
      "parameters": {
        "jsCode": "// ─── IDEMPOTENCY + VALIDATION + SPAM DETECTION ───\nconst item = $input.first().json;\nconst body = item.body || item;\n\n// Extract fields\nconst name    = (body.name    || '').trim();\nconst email   = (body.email   || '').trim().toLowerCase();\nconst company = (body.company || '').trim();\nconst message = (body.message || '').trim();\nconst urgency = (body.urgency || 'normal').trim().toLowerCase();\nconst product = (body.product || '').trim();\n\n// ── Required field check ──\nconst missing = [];\nif (!name)    missing.push('name');\nif (!email)   missing.push('email');\nif (!message) missing.push('message');\nif (!product) missing.push('product');\nif (missing.length > 0) {\n  return [{ json: { valid: false, reason: `Missing required fields: ${missing.join(', ')}`, raw: body } }];\n}\n\n// ── Email format validation ──\nconst emailRegex = /^[a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,}$/;\nif (!emailRegex.test(email)) {\n  return [{ json: { valid: false, reason: `Malformed email: ${email}`, raw: body } }];\n}\n\n// ── Urgency validation ──\nif (!['high', 'normal'].includes(urgency)) {\n  return [{ json: { valid: false, reason: `Invalid urgency value: ${urgency}`, raw: body } }];\n}\n\n// ── Spam detection ──\nconst spamKeywords = ['casino', 'viagra', 'lottery', 'click here', 'free money', 'earn $', 'make money fast', 'buy now', 'limited offer', 'congratulations you won'];\nconst combinedText = (name + ' ' + message).toLowerCase();\nconst spamHit = spamKeywords.find(kw => combinedText.includes(kw));\nif (spamHit) {\n  return [{ json: { valid: false, reason: `Spam detected: keyword \"${spamHit}\"`, raw: body } }];\n}\n\n// Suspicious patterns: all caps message, too-short name\nif (message === message.toUpperCase() && message.length > 20) {\n  return [{ json: { valid: false, reason: 'Spam detected: all-caps message', raw: body } }];\n}\nif (name.length < 2) {\n  return [{ json: { valid: false, reason: 'Suspicious name (too short)', raw: body } }];\n}\n\n// ── Idempotency key ──\nconst idempotencyKey = Buffer.from(email + '|' + message.slice(0, 50)).toString('base64').replace(/=/g, '');\n\nreturn [{\n  json: {\n    valid: true,\n    idempotencyKey,\n    name,\n    email,\n    company,\n    message,\n    urgency,\n    product,\n    receivedAt: new Date().toISOString()\n  }\n}];\n"
      },
      "id": "3a4fd0a0-5089-4c69-a343-bae0f850bca0",
      "name": "Validate & Detect Spam",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        224
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b12441c4-ab7f-4f08-b43d-b84b9b1938bf",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -784,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─── ENRICH LEAD ───\nconst item = $input.first().json;\n\nlet company = item.company;\nlet companySource = 'provided';\n\nif (!company || company === '') {\n  // Infer from email domain\n  const domain = item.email.split('@')[1] || '';\n  const domainWithoutTld = domain.split('.')[0] || '';\n\n  // Skip generic free email providers\n  const freeProviders = ['gmail', 'yahoo', 'hotmail', 'outlook', 'icloud', 'aol', 'protonmail', 'zoho', 'mail', 'live', 'msn'];\n  if (freeProviders.includes(domainWithoutTld.toLowerCase())) {\n    company = 'Individual / Unknown';\n    companySource = 'inferred-free-email';\n  } else {\n    // Capitalize domain name as company\n    company = domainWithoutTld.charAt(0).toUpperCase() + domainWithoutTld.slice(1);\n    companySource = `inferred-from-domain:${domain}`;\n  }\n}\n\nreturn [{\n  json: {\n    ...item,\n    company,\n    companySource\n  }\n}];\n"
      },
      "id": "a0d204f1-f149-4451-8122-db001ba359bf",
      "name": "Enrich Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        112
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1lp1etaI7jsA4H_IYtyTV7JUk4ngBq3QyK4aTtB8AS7o",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lp1etaI7jsA4H_IYtyTV7JUk4ngBq3QyK4aTtB8AS7o/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "valid": "={{ $json.valid }}",
            "idempotencyKey": "={{ $json.idempotencyKey }}",
            "name": "={{ $json.name }}",
            "email": "={{ $json.email }}",
            "company": "={{ $json.company }}",
            "message": "={{ $json.message }}",
            "urgency": "={{ $json.urgency }}",
            "product": "={{ $json.product }}",
            "receivedAt": "={{ $json.receivedAt }}",
            "companySource": "={{ $json.companySource }}"
          },
          "matchingColumns": [
            "valid"
          ],
          "schema": [
            {
              "id": "valid",
              "displayName": "valid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "idempotencyKey",
              "displayName": "idempotencyKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "urgency",
              "displayName": "urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "product",
              "displayName": "product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "receivedAt",
              "displayName": "receivedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companySource",
              "displayName": "companySource",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b2a5bf0d-7010-4f8d-a743-7a5ad8f48528",
      "name": "Store in Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -352,
        112
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nOiJEAQI3A8nxibR",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-urgency",
              "leftValue": "={{ $json.urgency }}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b4251d34-6fb9-4eaa-9ede-4b2f387c50e9",
      "name": "High Urgency?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -128,
        112
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AMBB90NNA",
          "mode": "list",
          "cachedResultName": "all-autoamtion"
        },
        "text": "=🚨 *HIGH URGENCY LEAD*\n\n*Name:* {{ $json.name }}\n*Email:* {{ $json.email }}\n*Company:* {{ $json.company }}\n*Product:* {{ $json.product }}\n*Message:* {{ $json.message }}\n*Received:* {{ $json.receivedAt }}\n\n_Idempotency Key: {{ $json.idempotencyKey }}_",
        "otherOptions": {}
      },
      "id": "37a67c4d-45b5-4639-b799-2182cd7d1f2f",
      "name": "Slack Alert (High Urgency)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        96,
        -16
      ],
      "webhookId": "37ef2acf-12a3-4b24-97c8-3178a50bc264",
      "credentials": {
        "slackOAuth2Api": {
          "id": "u4bYisgrv8BNeZvv",
          "name": "Slack OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "listId": "69bab853b9d1a3c257286937",
        "name": "=🚨 [HIGH] {{ $json.product }} - {{ $json.company }}",
        "description": "=**Lead Details**\n\n- **Name:** {{ $json.name }}\n- **Email:** {{ $json.email }}\n- **Company:** {{ $json.company }}\n- **Product:** {{ $json.product }}\n- **Urgency:** {{ $json.urgency }}\n- **Message:** {{ $json.message }}\n- **Received:** {{ $json.receivedAt }}\n- **Idempotency Key:** {{ $json.idempotencyKey }}",
        "additionalFields": {
          "due": "={{ $now.plus(1, 'day').toISO() }}"
        }
      },
      "id": "99a1adb3-202b-499f-a61a-ace4bba795f3",
      "name": "Create Trello Ticket",
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        96,
        128
      ],
      "credentials": {
        "trelloApi": {
          "id": "z4tySszhe8N9nUrx",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "nitinreddy848@gmail.com",
        "subject": "=We received your inquiry about {{ $json.product }}",
        "message": "=<!DOCTYPE html>\n<html>\n<body style=\"font-family:Arial,sans-serif;color:#333;max-width:600px;margin:auto;padding:20px\">\n  <h2 style=\"color:#4A90D9\">Thanks for reaching out, {{ $json.name }}!</h2>\n  <p>We've received your message and our team will get back to you within <strong>1–2 business days</strong>.</p>\n  <table style=\"border-collapse:collapse;width:100%;margin-top:16px\">\n    <tr><td style=\"padding:8px;background:#f5f5f5;font-weight:bold;width:30%\">Product</td><td style=\"padding:8px\">{{ $json.product }}</td></tr>\n    <tr><td style=\"padding:8px;background:#f5f5f5;font-weight:bold\">Company</td><td style=\"padding:8px\">{{ $json.companySource }}</td></tr>\n    <tr><td style=\"padding:8px;background:#f5f5f5;font-weight:bold\">Your Message</td><td style=\"padding:8px\"></td>{{ $json.message }}</tr>\n  </table>\n  <p style=\"margin-top:24px;color:#777;font-size:12px\">Reference ID: {{ $json.idempotencyKey }}</p>\n</body>\n</html>",
        "options": {}
      },
      "id": "2b51ee44-0938-4cb2-af64-9e8a86d2fd44",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        96,
        288
      ],
      "webhookId": "2225a7e7-abc8-4b32-a4f7-8ef91bc165be",
      "credentials": {
        "gmailOAuth2": {
          "id": "gzqbDqIH8U7S9o77",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1lp1etaI7jsA4H_IYtyTV7JUk4ngBq3QyK4aTtB8AS7o",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 332373320,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lp1etaI7jsA4H_IYtyTV7JUk4ngBq3QyK4aTtB8AS7o/edit#gid=332373320"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "afc794e5-42b6-4b28-94a8-003c3a288ad4",
      "name": "Log Status (Normal)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        320,
        288
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nOiJEAQI3A8nxibR",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Lead received', ref: $('Validate & Detect Spam').first().json.idempotencyKey }) }}",
        "options": {}
      },
      "id": "8f151864-b26a-4ff0-9357-b12be79877d2",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        320,
        112
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.reason }) }}",
        "options": {}
      },
      "id": "a3114e36-8f42-4508-a279-52feffb2ebe2",
      "name": "Respond 422 Invalid",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -560,
        368
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1lp1etaI7jsA4H_IYtyTV7JUk4ngBq3QyK4aTtB8AS7o",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 177619440,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lp1etaI7jsA4H_IYtyTV7JUk4ngBq3QyK4aTtB8AS7o/edit#gid=177619440"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "778fefe5-0467-4770-9c0d-5871b459f60d",
      "name": "Dead Letter: Validation Fail",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -560,
        496
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nOiJEAQI3A8nxibR",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * *"
            }
          ]
        }
      },
      "id": "ca3c7dad-089a-4121-992d-e46c8ad250d5",
      "name": "Daily 6PM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1232,
        736
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lp1etaI7jsA4H_IYtyTV7JUk4ngBq3QyK4aTtB8AS7o",
          "mode": "list",
          "cachedResultName": "Lead support",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lp1etaI7jsA4H_IYtyTV7JUk4ngBq3QyK4aTtB8AS7o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lp1etaI7jsA4H_IYtyTV7JUk4ngBq3QyK4aTtB8AS7o/edit#gid=0"
        },
        "options": {}
      },
      "id": "4a705d8f-d98c-48ee-b215-03aaef48d138",
      "name": "Read All Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1008,
        736
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nOiJEAQI3A8nxibR",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ─── DAILY DIGEST AGGREGATION — reads exact Google Sheets column names ───\n// Actual columns: valid, idempotencyKey, name, email, company,\n//                 message, urgency, product, receivedAt, companySource\n\nconst items = $input.all();\nconst today = new Date().toISOString().split('T')[0];\n\n// Log first row so you can verify in browser console\nconst sample = items[0]?.json || {};\nconsole.log('KEYS:', JSON.stringify(Object.keys(sample)));\nconsole.log('SAMPLE ROW:', JSON.stringify(sample));\n\n// Map using EXACT lowercase column names from Google Sheets\nconst allRows = items\n  .map(i => i.json)\n  .filter(r =>\n    r.name &&\n    r.name !== 'name' &&        // skip header row if present\n    r.email &&\n    r.receivedAt &&\n    r.valid === true || r.valid === 'true'  // only valid leads\n  );\n\n// Filter to today\nconst todayLeads = allRows.filter(r =>\n  String(r.receivedAt).startsWith(today)\n);\n\n// Fallback to all rows if no today leads (testing)\nconst workingLeads = todayLeads.length > 0 ? todayLeads : allRows;\n\n// Count by urgency using exact column name: urgency\nconst byUrgency = {};\nworkingLeads.forEach(r => {\n  const u = String(r.urgency || 'unknown').toLowerCase().trim();\n  byUrgency[u] = (byUrgency[u] || 0) + 1;\n});\n\n// Count by product using exact column name: product\nconst byProduct = {};\nworkingLeads.forEach(r => {\n  const p = String(r.product || 'unknown').trim();\n  byProduct[p] = (byProduct[p] || 0) + 1;\n});\n\n// Top 5 sorted by receivedAt descending\nconst top5 = [...workingLeads]\n  .sort((a, b) => new Date(b.receivedAt) - new Date(a.receivedAt))\n  .slice(0, 5)\n  .map(r => ({\n    name:       String(r.name || ''),\n    email:      String(r.email || ''),\n    company:    String(r.company || ''),\n    product:    String(r.product || ''),\n    urgency:    String(r.urgency || ''),\n    receivedAt: String(r.receivedAt || '')\n  }));\n\nconsole.log('totalLeads:', workingLeads.length);\nconsole.log('byUrgency:', JSON.stringify(byUrgency));\nconsole.log('byProduct:', JSON.stringify(byProduct));\n\nreturn [{\n  json: {\n    date:            today,\n    totalLeads:      workingLeads.length,\n    todayOnly:       todayLeads.length,\n    allLeads:        allRows.length,\n    byUrgency,\n    byProduct,\n    top5RecentLeads: top5\n  }\n}];"
      },
      "id": "a240890b-482b-4f9a-a1d1-34f346d7acad",
      "name": "Aggregate Digest Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        736
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─── BUILD DIGEST EMAIL HTML ───\nconst d = $input.first().json;\n\nconst urgencyRows = Object.entries(d.byUrgency)\n  .map(([k,v]) => `<tr><td style=\"padding:6px 12px;border:1px solid #ddd\">${k}</td><td style=\"padding:6px 12px;border:1px solid #ddd;text-align:center\">${v}</td></tr>`)\n  .join('');\n\nconst productRows = Object.entries(d.byProduct)\n  .map(([k,v]) => `<tr><td style=\"padding:6px 12px;border:1px solid #ddd\">${k}</td><td style=\"padding:6px 12px;border:1px solid #ddd;text-align:center\">${v}</td></tr>`)\n  .join('');\n\nconst top5Rows = (d.top5RecentLeads || []).map(l =>\n  `<tr>\n    <td style=\"padding:6px 12px;border:1px solid #ddd\">${l.name}</td>\n    <td style=\"padding:6px 12px;border:1px solid #ddd\">${l.email}</td>\n    <td style=\"padding:6px 12px;border:1px solid #ddd\">${l.company}</td>\n    <td style=\"padding:6px 12px;border:1px solid #ddd\">${l.product}</td>\n    <td style=\"padding:6px 12px;border:1px solid #ddd\"><span style=\"color:${l.urgency==='high'?'#e53e3e':'#38a169'};font-weight:bold\">${l.urgency}</span></td>\n  </tr>`\n).join('');\n\nconst html = `\n<!DOCTYPE html><html><body style=\"font-family:Arial,sans-serif;color:#333;max-width:700px;margin:auto;padding:20px\">\n<h2 style=\"color:#4A90D9\">📊 Daily Lead Digest — ${d.date}</h2>\n<p>Total leads today: <strong>${d.totalLeads}</strong></p>\n\n<h3>By Urgency</h3>\n<table style=\"border-collapse:collapse;width:100%\">\n  <tr style=\"background:#f0f4ff\"><th style=\"padding:8px 12px;border:1px solid #ddd;text-align:left\">Urgency</th><th style=\"padding:8px 12px;border:1px solid #ddd\">Count</th></tr>\n  ${urgencyRows}\n</table>\n\n<h3 style=\"margin-top:20px\">By Product</h3>\n<table style=\"border-collapse:collapse;width:100%\">\n  <tr style=\"background:#f0f4ff\"><th style=\"padding:8px 12px;border:1px solid #ddd;text-align:left\">Product</th><th style=\"padding:8px 12px;border:1px solid #ddd\">Count</th></tr>\n  ${productRows}\n</table>\n\n<h3 style=\"margin-top:20px\">Top 5 Recent Leads</h3>\n<table style=\"border-collapse:collapse;width:100%\">\n  <tr style=\"background:#f0f4ff\">\n    <th style=\"padding:8px;border:1px solid #ddd\">Name</th>\n    <th style=\"padding:8px;border:1px solid #ddd\">Email</th>\n    <th style=\"padding:8px;border:1px solid #ddd\">Company</th>\n    <th style=\"padding:8px;border:1px solid #ddd\">Product</th>\n    <th style=\"padding:8px;border:1px solid #ddd\">Urgency</th>\n  </tr>\n  ${top5Rows}\n</table>\n\n<p style=\"margin-top:24px;color:#777;font-size:12px\">Generated automatically at 18:00. Lead-to-Support Automation.</p>\n</body></html>`;\n\nreturn [{ json: { ...d, emailHtml: html } }];\n"
      },
      "id": "6a30564a-1745-4ffd-a37c-e783793096e9",
      "name": "Build Digest Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        736
      ]
    },
    {
      "parameters": {
        "sendTo": "nitinreddy848@gmail.com",
        "subject": "=📊 Daily Lead Digest — {{ $json.date }} ( {{ $json.totalLeads }} leads)",
        "message": "={{ $json.emailHtml }}",
        "options": {}
      },
      "id": "0404a566-77c5-45a0-9674-90fdaed3784c",
      "name": "Send Daily Digest Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -352,
        736
      ],
      "webhookId": "db12f834-c5fb-40fd-9d37-9e85c4930c6f",
      "credentials": {
        "gmailOAuth2": {
          "id": "gzqbDqIH8U7S9o77",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook: Receive Lead": {
      "main": [
        [
          {
            "node": "Validate & Detect Spam",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Detect Spam": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Enrich Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 422 Invalid",
            "type": "main",
            "index": 0
          },
          {
            "node": "Dead Letter: Validation Fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Lead": {
      "main": [
        [
          {
            "node": "Store in Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store in Google Sheets": {
      "main": [
        [
          {
            "node": "High Urgency?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Urgency?": {
      "main": [
        [
          {
            "node": "Slack Alert (High Urgency)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Trello Ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Alert (High Urgency)": {
      "main": [
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Trello Ticket": {
      "main": [
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Confirmation Email": {
      "main": [
        [
          {
            "node": "Log Status (Normal)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Status (Normal)": {
      "main": [
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 6PM Trigger": {
      "main": [
        [
          {
            "node": "Read All Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read All Leads": {
      "main": [
        [
          {
            "node": "Aggregate Digest Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Digest Data": {
      "main": [
        [
          {
            "node": "Build Digest Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Digest Email": {
      "main": [
        [
          {
            "node": "Send Daily Digest Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "versionId": "883b1d31-049a-44ab-bcd6-56ab792d6feb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c43139d2a172cfce1e34132248d54cb7fec8f041ccdaa1bc555f9be99401365b"
  },
  "id": "nWJ3pNQTZIHnCVmN",
  "tags": []
}